<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="toggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a routerLink="/">LOGO</a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="10px" class=navigation-items>
          <li *ngIf="!isLoggedIn"><a routerLink="/signup">Signup</a></li>
          <li *ngIf="!isLoggedIn"><a routerLink="/login">Login</a></li>
          <li *ngIf="isLoggedIn"><a routerLink="/training">Trainings</a></li>
          <li *ngIf="isLoggedIn"><a (click)="handleLogout()">Logout</a></li>
        </ul>
    </div>
</mat-toolbar>
