<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button (click)="toggleSidenav()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/">ng fitness</a>
  </div>
  <div fxFlex fxHide.xs fxLayout fxLayoutAlign="flex-end">
    <ul class=navigation-items fxLayout fxLayoutGap="10px">
      <li *ngIf="!(isAuthenticated$ | async)"><a routerLink="/signup">Signup</a></li>
      <li *ngIf="!(isAuthenticated$ | async)"><a routerLink="/login">Login</a></li>
      <li *ngIf="isAuthenticated$ | async"><a routerLink="/training">Trainings</a></li>
      <li *ngIf="isAuthenticated$ | async"><a (click)="handleLogout()">Logout</a></li>
    </ul>
  </div>
</mat-toolbar>
